@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  background: #19323C;
  color: #CFCFEA ;
  font-family: Arial, Helvetica, sans-serif;
  background: url('./assets//foggy.avif') no-repeat center/cover;
}

/* 
  B7C8B5
  C5EBC3
  D3F9B5
  C9DBBA
  CFCFEA
  92AD94
 */